/* .weatherCard{
    width: 35rem;

} */
.bodyWeather{
    background-color: #fbfbfb63;
    border-radius: 5px;
}
.ww{
    gap: 20px;
}
.iconImage{
    width: 50px;
    height: 50px;
}

@media (max-width:600px) {

    .weatherCard{
        width:100% !important ;
    }
    .footer{
        flex-wrap: wrap !important;
    }
    .iconImage{
        width: 20px !important;
        height: 20px  !important;
    }
    
}